<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>
<!--    <classPathEntry location="/Program Files/IBM/SQLLIB/java/db2java.zip" />-->

    <context id="MysqlTables" targetRuntime="MyBatis3">
        <plugin type="org.mybatis.generator.plugins.RowBoundsPlugin" />
        <jdbcConnection driverClass="com.mysql.cj.jdbc.Driver"
                        connectionURL="jdbc:mysql://demo.chen09.xyz/demo"
                        userId="demo"
                        password="demo1234">
        </jdbcConnection>

        <javaTypeResolver >
            <property name="forceBigDecimals" value="false" />
            <property name="useJSR310Types" value="true"/>
        </javaTypeResolver>

        <javaModelGenerator targetPackage="jp.co.tlzs.department.four.demo01.model" targetProject="./src/main/java">
            <property name="enableSubPackages" value="true" />
            <property name="trimStrings" value="true" />
        </javaModelGenerator>

        <sqlMapGenerator targetPackage="jp.co.tlzs.department.four.demo01.mapper"  targetProject="./src/main/resources">
            <property name="enableSubPackages" value="true" />
        </sqlMapGenerator>

        <javaClientGenerator type="XMLMAPPER" targetPackage="jp.co.tlzs.department.four.demo01.mapper"  targetProject="./src/main/java">
            <property name="enableSubPackages" value="true" />
        </javaClientGenerator>

        <table schema="demo" tableName="user" domainObjectName="User" >
            <generatedKey column="id" sqlStatement="MySql" identity="true" />
            <columnOverride column="age" javaType="java.lang.Integer"/>
            <columnOverride column="use_flg" javaType="java.lang.Boolean"/>
            <columnOverride column="del_flg" javaType="java.lang.Boolean"/>
<!--            <columnOverride column="created_at" javaType="java.time.LocalDateTime"/>-->
<!--            <columnOverride column="updated_at" javaType="java.time.LocalDateTime"/>-->

        </table>

    </context>
</generatorConfiguration>